@use '../helpers' as *;

.hero {
  &-container {
    display: flex;
  }

  &-swiper {
    width: 100%;

    & .swiper-slide {
      opacity: 0 !important;
      user-select: none;
      transition: 0.3s;


      &-active {
        opacity: 1 !important;

        & > .hero-super {
          transform: none;
          opacity: 1;
        }
      }
    }

    & .swiper-slide > .hero-super {
      transform: translateY(-30px);
      opacity: 0;
      transition-duration: 0.8s;
    }

  }
}


.swiper-slide > .hero-img {
  transition-duration: 0.8s;
  transform: scale(1.1);
  opacity: 0;
}

.swiper-slide-active > .hero-img {
  width: 100%;
  opacity: 1;
  transform: scale(1);
}

.hero__swiper{

  &-wrapper {
    position: relative;
    height: auto !important;

    & .overlay-black {
      position: absolute;
      width: 100%;
      background-color: hsl(var(--color-bg), 0.75);
      z-index: 3;
    }

    &-img {
      object-fit: cover;
      width: 100%;
      height: 527px;
    }

    &-super {
      @include abs-y;

      left: var(--container-padding-x);
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 30px;
      max-width: 715px;
      z-index: 3;
      transition-delay: 0.2s;
      text-transform: uppercase;

      @include laptop-above{
        right: calc(var(--100vw) / 2);
      }

      @include mobile {
        max-width: -webkit-fill-available;
        max-width: -moz-available;
        max-width: fill-available;
      }
    }

  }

  &-title {
  }
  &-description {
    font-weight: 400;
  }
}

.nav-carousel {
  position: absolute;
  bottom: 30px;
  left: 48%;
  translate: -50% -50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  transform: scale(1);
  z-index: 3;

  @include mobile {
    bottom: 10px;
  }


  & .pagination {
    width: max-content !important;
  }

  & .pagination > .swiper-pagination-bullet {
    width: 20px;
    height: 10px;
    background-color: var(--color-dark);
    border-radius: var(--border-radius-m);
    outline: var(--border-width-s);
    transition: all 0.3s ease-in-out;

    @include mobile {
      width: 55px;
      height: 25px;
    }

    &-active {
      background-color: var(--color-light);
      width: 30px;
      border-radius: var(--border-radius-m);
      @include mobile {
        width: 80px;
        height: 35px;
      }
    }
  }
}