@use '../helpers' as *;

.logo {
  width: fluid-to-laptop(278, 200);

  color: var(--color-dark);
  html.is-dark-theme & {
    color: var(--color-light);
  }

  @include tablet{
    margin-right: auto;
  }

  @include hover{
    color: initial;
  }
}

.footer__logo{
  @include hover{
    color: var(--color-light);
  }
}