@use '../helpers' as *;

.mobile-menu {
  & * {
    @include tablet-above {
      @include visually-hidden;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: transform 0.2sease-in-out;
    -webkit-transition: transform 0.2sease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    padding: 20px 0 48px;
  }
}