@use '../helpers' as *;

.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: var(--border-light);
  border-radius: var(--border-radius-l);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);

  @include hover {
    box-shadow: none;
    transition-duration: var(--transition-duration);
  }

  &__preview {
    position: relative;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 25px;
  }

  &__subtitle {
    font-weight: 500;
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__description {
    color: var(--color-gray);
  }

  &__date {
    color: var(--color-light-gray-74);
  }

  &__link {
    position: absolute;
    inset: 0;
  }
}

html.is-dark-theme {
  .news-card {
    border: none;
    background-color: var(--color-bg);
  }
}