@use '../helpers' as *;

.promo-menu {
  margin-left: auto;
  margin-right: fluid-to-laptop(20, 10);

  &--list {
    @include fluid-text(16, 13);

    display: flex;
    column-gap: fluid-to-laptop(30, 5);
    color: var(--color-text);
  }
}