@use '../helpers' as *;

.section {
  padding-block: 75px;

  &__body {
    position: relative;
  }

  &__header {
    padding-bottom: 40px;

    &--inner {
      display: grid;
      align-items: center;
      gap: 10px;

      @include mobile-s-above {
        grid-template-columns: 1fr auto;
      }

    }
  }

  &__link {
    color: var(--color-text);
    font-weight: 500;
  }
}

.novelties__section {
  & .section {
    &__body {
      width: fluid(1920, 390);
      max-width: var(--100vw);
      margin-inline: 0;

      @include laptop1920-above {
        max-width: calc(var(--100vw) - 3%);
        margin-inline: auto;
      }
    }
  }
}