@use "helpers" as *;

:root {
  --color-light: #FFFFFF;
  --color-dark: #1C1D1D;

  --color-light-gray: #ECECEC;
  --color-dark-gray: #242424;
  --color-gray: #6C6C6C;
  --color-gray-88: #888888;

  --color-text: var(--color-dark);
  --color-bg: var(--color-light);

  --color-accent: #005e83;


  --border: 2px solid var(--color-dark);
  --border-width-s: 1px solid var(--color-light);

  --border-radius-l: 5px;
  --border-radius-m: 3px;

  --font-family: 'Monserrat', sans-serif;

  --container-width: #{fluid-to-laptop(1600, 1280)};
  --container-padding-x: 16px;

  --section-padding-y: #{fluid(75, 40)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;

  --100vw: calc(100vw - var(--scrollbar-width));

}

html.is-dark-theme{
  --color-text: var(--color-light);
  --color-bg: var(--color-dark);
}
body{
  color: var(--color-text);
  background-color: var(--color-bg);
}
